@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="section" id="home">
    <!-- SLIDER -->
    <ul id="main-slider">
        <li><img src="~/Models/images/slider/001.jpg" alt="Elegance" /></li>
        <li><img src="~/Models/images/slider/002.jpg" alt="Elegance" /></li>
        <li><img src="~/Models/images/slider/003.jpg" alt="Elegance" /></li>
    </ul>
</div>

<!-- HOME -->
<div class="section">
    <div class="container center home-content">
        <div class="row align-items-center">
            <div class="col">
                <div class="title">
                    بهگامان<br />
                    فراز<br />
                    الوند
                </div>
            </div>
            <div class="col-5">
                <div>
                    سازنده ماشین آلات صنعتی و معدنی<br />
                    اعم از خط کامل تولید شمش آلومینیوم و روی <br />
                    انواع تجهیزات معدنی مانند فک سنگ شکن در سایز های متفاوت
                </div>
            </div>
            <div class="col">
                <div class="right">

                </div>
            </div>
        </div>
    </div>
    <div class="spacer-100"></div>
</div>

<!-- ABOUT US -->
<div class="section" id="about-us">
    <!-- Parallax Slide -->
    <section id="slide-1" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide-1"></div>
    </section>
    <!-- parallax slide ends here -->
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <div class="white-box center">
                    <div class="title">درباره ما</div>
                    <div class="row">
                        <div class="col">
                            <!-- 1st column content -->
                            <p class="text-right">
                                بازار هدف ما شرکت های سازنده شمش آلومینیوم می باشد
                                مشتریان پیشین خط تولید ما از جمله شرکت آذر صنعت گلپایگان، پیستون سازی گلپایگان،
                                تلاشگران، فن آور ذوب، آمتیس، اسپادانا، نگین آلومینیوم و ... بوده است.
                                و همچین معادن و تولید کنندگان شن و ماسه از مشتریان فک سنگ شکن ما بوده اند.
                                هدف ما بهبود در فر آوری و سرعت بیشتر تولید آلومینیوم است
                            </p>
                        </div>
                        <div class="col">
                            <!-- 2nd column content -->
                            <p class="text-right">
                                در ابتدا با نام کارگاه ولیعصر در سال 1362 در شهر گلپایگان با خدمات در رسته ی ماشین آلات معدنی شروع بکار کردیم.
                                و از سال 1387 وارد ساخت خط تولید آلومینیوم شدیم.
                                در تیر ماه 1391 با هدف گسترش فعالیت مان شرکت بهگامان فراز الوند را ثبت شد.
                                واکنون باساخت بیش از ده ها خط تولید شمس و گرانول آلومینیوم دارای تجربه کافی برای راه اندازی کامل خط تولید آلومینیوم می باشیم
                                <br />

                            </p>
                        </div>
                    </div>
                    <div class="white-box-link">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<!-- SERVICES
<div class="spacer-160"></div>
<div class="section" id="services">
    <div class="container center services">
        <div class="title">لورم ایپسوم</div>
        <div>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
        </div>
        <ul id="services-slider">
            <!-- 1st slide content (within the <li>)
            <li>
                <div class="row">
                    <div class="col left">
                        <div class="service-box-left">
                            <img src="~/Models/images/services/04.jpg" alt="Elegance" />
                            <div class="service-content-box">
                                <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                            </div>
                        </div>
                    </div>
                    <div class="col right">
                        <div class="service-box-right">
                            <img src="~/Models/images/services/02.jpg" alt="Elegance" />
                            <div class="service-content-box">
                                <span class="text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- 2nd slide content (within the <li>)
            <li>
                <div class="row">
                    <div class="col left">
                        <div class="service-box-left">
                            <img src="~/Models/images/services/04.jpg" alt="Elegance" />
                            <div class="service-content-box">
                                <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه
                            </div>
                        </div>
                    </div>
                    <div class="col right">
                        <div class="service-box-right">
                            <img src="~/Models/images/services/02.jpg" alt="Elegance" />
                            <div class="service-content-box">
                                <span class="text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
-->
<!-- Banner-->
<div class="spacer-160"></div>
<!-- Parallax Slide -->
<!--
<section id="slide-2" class="homeSlide">
    <div class="bcg"
         data-center="background-position: 50% 0px;"
         data-top-bottom="background-position: 50% -100px;"
         data-anchor-target="#slide-2">
        <div class="hsContainer" id="#skrollr-body">
            <div class="hsContent"
                 data--50-bottom="opacity: 0;"
                 data--300-bottom="opacity: 1;"
                 data-center="opacity: 1;"
                 data-anchor-target="#slide-2 h2">
                <div class="centered-content align-content-center">
                    <h2>طراحان نامفهوم <span>ایپسوم</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
    -->
<!-- PORTFOLIO -->
<div class="spacer-160"></div>
<div class="container center" id="portfolio">
    <div class="title">نمونه کارها</div>
</div>
<div class="button-group filters-button-group">

    <button class="button" data-filter=".PicMachini">پیک ماشینی</button>
    <button class="button" data-filter=".CoreZobe">کوره ذوب ضایعات</button>
    <button class="button" data-filter=".CodeAliagh">کوره آلیاژ سازی</button>
    <button class="button" data-filter=".Fack">فک سنگ شکن </button>
    <button class="button is-checked" data-filter="*">همه</button>
</div>
<div class="grid">
    <div class="grid-sizer"></div>
    <!-- item -->
    <div class="grid-item luxury PicMachini" data-category="private">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">
                    لورم ایپسوم<span>ایران - تهران</span>
                </div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/01.jpg" alt="" /></div>
    </div>
    <!-- item -->
    <div class="grid-item PicMachini" data-category="modern">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">لورم ایپسوم<span>ایران - تهران</span></div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/02.jpg" alt="" /></div>
    </div>
    <!-- item -->
    <div class="grid-item luxury Fack" data-category="luxury">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">لورم ایپسوم<span>ایران - تهران</span></div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/03.jpg" alt="" /></div>
    </div>
    <!-- item -->
    <div class="grid-item Fack" data-category="private">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">
                    لورم ایپسوم<span>ایران - تهران</span>
                </div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/04.jpg" alt="" /></div>
    </div>
    <!-- item -->
    <div class="grid-item newideas CoreZobe" data-category="newideas">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">
                    لورم ایپسوم<span>ایران - تهران</span>
                </div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/06.jpg" alt="" /></div>
    </div>
    <!-- item -->
    <div class="grid-item luxury CodeAliagh" data-category="private">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">لورم ایپسوم<span>ایران - تهران</span></div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/05.jpg" alt="" /></div>
    </div>
    <!-- item -->
    <div class="grid-item newideas CodeAliagh" data-category="newideas">
        <a href="portfolio-template.html">
            <div class="box">
                <div class="name">لورم ایپسوم<span>ایران - تهران</span></div>
            </div>
        </a>
        <div class="img"><img src="~/Models/images/portfolio/07.jpg" alt="" /></div>
    </div>
</div>
<!-- TEAM -->
<!--
<div class="spacer-160"></div>
<div class="container center" id="team">
    <class class="title">یک تیم با استعداد</class>
    <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
    </p>
    <div class="spacer-40"></div>
    <div class="row team">
        <!-- team member
        <div class="col-2">
            <div>
                <img src="~/Models/images/team/01.jpg" alt="Elegance" />
                <div class="team-name text-right">
                    کارمند ایکس<span>طراح ارشد</span>
                </div>
                <div class="team-social text-right">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- team member
        <div class="col-2">
            <div><img src="~/Models/images/team/04.jpg" alt="Elegance" /></div>
            <div class="team-name text-right">
                کارمند ایکس<span>طراح ارشد</span>
            </div>
            <div class="team-social text-right">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- team member
        <div class="col-2">
            <div><img src="~/Models/images/team/02.jpg" alt="Elegance" /></div>
            <div class="team-name text-right">
                کارمند ایکس<span>طراح ارشد</span>
            </div>
            <div class="team-social text-right">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- team member
        <div class="col-2">
            <div><img src="~/Models/images/team/05.jpg" alt="Elegance" /></div>
            <div class="team-name text-right">
                کارمند ایکس<span>طراح ارشد</span>
            </div>
            <div class="team-social text-right">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- team member
        <div class="col-2">
            <div><img src="~/Models/images/team/03.jpg" alt="Elegance" /></div>
            <div class="team-name text-right">
                کارمند ایکس<span>طراح ارشد</span>
            </div>
            <div class="team-social text-right">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- team member
        <div class="col-2">
            <div><img src="~/Models/images/team/06.jpg" alt="Elegance" /></div>
            <div class="team-name text-right">
                کارمند ایکس<span>طراح ارشد</span>
            </div>
            <div class="team-social text-right">
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

-->
<!-- MAP -->
<!--
    <div class="spacer-160"></div>
    <script async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD61B9tyc2LQvicG_-A4z9ap2NgH7WJY6s&amp;callback=initMap"></script>
    <div id="map"></div>
-->
<!-- CONTACT -->
<div class="spacer-160"></div>
<div class="container center" id="contact">
    <div class="title"> تماس با ما </div>
    <div class="contact row">
        <div class="col left">
            <form method="post"
                  class="contact-form"
                  action="http://www.schintudesign.com/envato/elegance/black/mail.php">
                <div id="personal">
                    <div class="control-group">
                        <!--name field-->
                        <div class="controls">
                            <input class="required span9"
                                   type="text"
                                   name="name"
                                   data-fieldid="0"
                                   placeholder="نام خود را وارد کنید" />
                        </div>
                    </div>
                    <div class="control-group">
                        <!--email field-->
                        <div class="controls">
                            <input class="required span9"
                                   type="email"
                                   name="email"
                                   data-fieldid="1"
                                   placeholder="ایمیل خود را وارد کنید" />
                        </div>
                    </div>
                    <div class="control-group">
                        <!--message field-->
                        <div class="controls">
                            <textarea name="message"
                                      rows="12"
                                      class="required span9"
                                      data-fieldid="2"
                                      placeholder="پیام خود را بنویسید">
</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls right">
                            <button type="button" class="btn-main">
                                ارسال <i class="fa fa-send" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col left">
            <div class="contact-logo">
                <img src="~/Models/images/logo01.svg" alt="logo" /> بهگامان فراز الوند
            </div>
            <div class="info">
                ایران، اصفهان، گلپایگان، شهرک صنعتی گلپایگان<br />
                بلوار صنعت، خیابان تعاون، پلاک 220
                تلفن:03157248278  &nbsp;&nbsp;&nbsp;&nbsp; 09131719535<br />
                <a href="#">www.bhfar.ir</a> |
                <a href="#">info@bhfar.ir</a>
            </div>
            <p>
                خط تولید خود را به ما بسپارید
            </p>
        </div>
    </div>
</div>

<script data-host="https://analytics.tik4.com" data-dnt="false" src="https://analytics.tik4.com/js/script.js" id="ZwSg9rf6GA" async defer></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FV3QE0GJBF"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-FV3QE0GJBF');
</script>